html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-size: var(--default-font-size);
  color: var(--primary-color);
  background-color: var(--background-primary);
  line-height: 150%;
}

a {
  color: var(--primary-color);
  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}
