html,
body,
#root {
  height: 100%;
}

body {
  font-size: var(--default-font-size);
  color: var(--primary-color);
  background-color: var(--background-primary);
  line-height: 150%;
}

// #root {
//   display: grid;
//   grid-template-rows: auto 1fr auto;
//   height: 100%;
//   max-width: 100%;
//   margin: 0 auto;
// }

// a {
//   color: var(--primary-color);
//   &:hover {
//     color: var(--pink);
//   }
// }

// .container {
//   max-width: 100%;
//   margin: 0 auto;
//   padding: 0 145px;
// }
