.header {
  padding: 28px 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--separator-color);
  }
  .burger {
    margin-right: 10px;
  }
  .name {
    font-size: 27px;
    font-weight: var(--bold);
  }
  .navLink {
    font-size: 14px;
    font-weight: var(--bold);
  }
  .hireMe {
    margin-left: 170px;
  }
}
